
@import "variables";

.btn {
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 0;

    &-sm{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

}
html, body{
    overflow-x: hidden;
}
.ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    transform: scale(0);
    position: absolute;
    opacity: 1;
}
.rippleEffect {
    animation: rippleDrop .6s linear;
}
@keyframes rippleDrop {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

#body{
    color: $gray-200;
    background-color: $gray-200;
    // padding-top: 50px;
}

.prods{
    .c-item{
        background-color: rgba($gray-900, .1);
        color: $gray-900;
    }
}

.rounded{
    border-radius: 50px !important;
}
.block{
    padding: 80px 0;
}
.navbar{
    .nav-item{
        .nav-link{
            transition: $transition-base;
            text-align: center;
            border-bottom: 3px solid transparent;
            
        }
        &.active{
            .nav-link{
                border-bottom: 3px solid $primary;
            }
        }
        &:hover{
            @extend .active;
        }
    }
}
.mobiler{
    .leftSide{

    }
    .rightSide{
        .image{
            flex: 0 0 80px;
            img{
                padding: 5px;
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }
        }
        .text{
            flex: 1;
        }
    }
    .beauty{
        border-width: 2px !important;
        position: relative;
        margin-top: 200px;
        .rect{
            width: 50px;
            height: 100px;
            position: absolute;
            left: -25px;
            top: 50px;

            @media only screen and (max-width: $lg){
                top: 0;
                left: 0;
                right: 0;
                height: 5px;
                width: 100%;
            }
        }

        .image{
            img{
                margin-top: -50px;
                margin-left: -50px;
                border: 20px solid $gray-200;

                @media only screen and (max-width: $lg){
                    margin: 0;
                    border: 0;
                }
            }
        }
    }
}
.slider{
    background-image: url('../images/headbg.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 0;

    .cover{
        background-color: rgba($black, 0.75);
        padding: 100px 0;
    }

    .fa{
        color: rgba($white, 0.7);
        transition: $transition-base;
        text-decoration: none !important;
        &:hover{
            color: $white;
        }
    }

    @media only screen and (max-width: $md){
        .display-1{
            font-size: 40px;
        }
        .display-2{
            font-size: 25px;
        }
    }
}

.news{
    .border-primary.border-bottom{
        border-width: 5px;
    }
}

.sliding{
    overflow: hidden;
    position: relative;
    background: $gray-100;;
    .slidinger{
        position: absolute;
        top: 0;
        left: 50%;
        bottom: 0;
        right: 0;
        width: 100vw;
        div{
            background: rgba($gray-400, .3);
        transform: skewX(-20deg);
        width: 100%;
            height: 100%;
        }
    }
}

.retard{
    .pats{
        background-image: url('../images/pats.png');
        flex: 0 0 150px;
        opacity: 0.8;
        
    }
}

.ret2{
    .pats{
        background-image: url('../images/pats2.png');
        flex: 0 0 150px;
        position: relative;
        opacity: 0.8;
        >div{
            height: 5px;
            position: absolute;
            bottom: -20px;
            left: 0;
        }
    }
}

.sups{
}

.feeds{
    padding: 0;
    .feeds-items{
        background-color: $gray-300;
    }
}

.footer{
    background-color: $gray-800;

    .slidinger{
        >div{
            background-color: rgba($gray-700, .2);
        }
    }

    input, textarea, button{
        border: 1px solid rgba($gray-100, 0.5);
        transition: $transition-base;
        &:hover{
            border-color: $gray-100;
            color: $white;
        }
    }

    .navigation{
        border-bottom: 1px solid rgba($white, 0.4);
        a{
            text-decoration: none !important;
            border-bottom: 1px solid transparent;
            transition: $transition-base;

            &:hover{
                border-bottom: 1px solid $white;
            }
        }
    }
    .socials{
        
        .socItem{
            .fa{
                display: block;
                color: $gray-700;
                background-color: $white;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                line-height: 60px;
                text-align: center;
                font-size: 25px;
                text-decoration: none !important;
                transition: $transition-base;

                &:hover{
                    color: $gray-900;
                }
            }
        }
    }
}

// @media only screen and (max-width: $sm){
//     .socials{
//         flex-wrap: wrap;
//         .socItem{
//             text-align: center;
//             margin: 0;
//             padding: 0;
//             flex: 0 0 50%;
//         }
//     }
// }